.loading {
    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 140px);
    z-index: 50;
}

.editorButton {
    margin-right: 20px;
}

.helpcontent {
    margin: 1em;
}

.help-category {
    background-color: rgba(49, 57, 163, 0.42);
}
