a {
    text-decoration: none;
    color: #484b48;
}

#page-content {
    position: relative;
    top: 10px;
    left: 60px;
    margin-right: 25%;
    display: block;
    overflow: auto;
}

@media only screen and (min-width: 1100px) {
    #page-content {
        left: 260px;
        margin-right: 270px;
    }
}



#editor-content .ck-editor .ck-editor__main .ck-content {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
