a {
    text-decoration: none;
    color: #484b48;
}

.side-nav-entry {
    display: inline-block;
    padding: 4px;
}

#page-content {
    position: relative;
    top: 10px;
    left: 250px;
    display: block;
}

#editor-content .ck-editor .ck-editor__main .ck-content {
    border-bottom: none;
    border-left: none;
    border-right: none;
}
