.App {
    text-align: center;
    height: 100%;
}

.nav-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    /*border: 1px solid #555;*/
    padding: 10px;
    margin: 5px;
    padding-left: 20px;
}

.home-button {
    display: inline-block;
    text-decoration: none;
    color: white;
}
.base {
    position: relative;
    top: 10px;
    margin-right: 25%;
    display: block;
    overflow: auto;
    height: 100%;
}

@media only screen and (min-width: 1100px) {
    .base {
        margin-right: 270px;
    }
}
